.nav {
  height: 56px;
  padding: 8px 0;
  background-color: #172733;
}

.left {
  width: 250px;
}

.right {
  list-style: none;
}

.item {
  text-decoration: none;
  color: #172733;
}
.item:not(:last-child) {
  margin-right: 48px;
}

.item:hover svg path {
  fill: #DCDEE0;
  border-color: #DCDEE0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
