.container {
  background-color: var(--system-00);
  min-width: var(--sidebar-default);
  max-width: var(--sidebar-default);
  box-shadow: 2px 0 4px rgba(24, 36, 50, 0.1);
  transition: all 0.5s;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  z-index: 1;
}

.container::-webkit-scrollbar-thumb,
.container::-webkit-scrollbar-track { background-color: transparent; }

.container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}

.container:hover::-webkit-scrollbar-track {
  background: rgba(255,255,255,.1);
}

.container.open {
  min-width: var(--sidebar-open);
  max-width: var(--sidebar-open);
  transition: all 0.35s;
}

.container.open .message{
  justify-content: center;
}


.message {
  padding: 0.75rem 1.2rem;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: #172733;
}
